
body
{
    font-family:"Courier New";

}

.main
{
        width:100%;
        display: flex;
}


td, th
{
    border: 1px solid #00000F;
    width: 25%;
    text-align:center;

}


textarea
{
    width: 80%;
    height: 300px;
}


.code_container
{

    display:inline-block;
      flex: 50%;
}

.table_container
{

    display:inline-block;
      flex: 50%;
}