<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trace to the Top - proof of concept</title>

    <link href="static/styles.css" rel="stylesheet">

    <script src="static/scripts.js" type="text/javascript"></script>

        {% block extra_head %}
        {% endblock %}

</head>
<body>

    <h1>Trace To The Top!</h1>

    <div class="main">

        <div class="row">

            <div class="code_container">



                <h2>Code:</h2>

                {% block code %}

                {% endblock %}



            </div>

            <div class="table_container">

                <h2>Trace Table(s):</h2>

                    {% block tables %}

                    {% endblock %}



            </div>
        </div>
    </div>

<script>


    {% block post_content_scripts %}

    {% endblock %}

</script>


</body>

</html>